/*----------------------------------------------------------------
-------------------- Review Section Styling Starts -------------------
----------------------------------------------------------------*/


.yd-reviews {
	padding: 100px 0 100px 0;
	background: #FFFFFF;
	background: rgba(30, 166, 154, 0.08);
	background: #f8faff;
	background-size: cover;
}

.yd-reviews .intro {
	padding: 0;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.yd-reviews .intro h1 {
	font-size: 28px;
	font-weight: 700;
  color: #364655;
  line-height: 1.2;
  margin-bottom: 20px;
}

.yd-reviews .intro p {
	font-size: 16px;
  font-weight: 500;
  color: rgb(129, 129, 152);
  line-height: 1.6;
  margin: 0px auto;
}

.yd-reviews .intro p:nth-child(4) {
	font-size: 13px;
}

.yd-reviews .intro a {
	color: #0000FF;
	text-decoration: none;
}

.yd-reviews .review-card {
	padding: 50px;
	margin: 0 auto;
	background: rgba(30, 166, 154, 0.08);
	background: #FFF;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;
	border: transparent;
	border-radius: 5px;
	margin-bottom: 25px;
}

.yd-reviews .review-card h1 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.6;
	margin-bottom: 20px;
}

.yd-reviews .review-card h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
}

.yd-reviews .review-card h6 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
}

.yd-reviews .review-card .review-attribution .review-img {
	/* text-align: center; */
	margin: 50px 0 10px 0 !important;

}

.yd-reviews .review-card .review-attribution img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.lbl-service-card {
	background: #FFF;
	/* text-align: center; */
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(21, 204, 190, 0.8);
	padding: 50px 25px;
	margin: 0 0 50px 0;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.lbl-service-card:hover {
	border-bottom: 2px solid rgba(21, 204, 190, 0.3);
	box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.1);
}